{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-console": 2,
        "no-loss-of-precision": 2,
        "no-template-curly-in-string": 2,
        "no-unsafe-optional-chaining": 2,
        "no-useless-backreference": 2,
        "require-atomic-updates": 2
    }
  }
